@model List<EMAILTEMPLATE>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Email Templates
}
    @section Name1{
        All
}
    @section Name2{
    Email Templates
}
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Content</th>
                <th scope="col">NeedToLogin</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Name</td>
                <td>@item.Content</td>
                <td>@item.NeedToLogin</td>
                <td><a asp-controller="EmailTemplate" asp-action="EditTemplate" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Edit Template</a></td>
            </tr>
        }
    </tbody>
</table>
