@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model RegisterAStudentVM;
@{
    ViewData["Title"] = "Register a student";
}
@section Title {
    Register a Student
}
<div class="container-fluid px-0 py-5" style="width:1200px;margin-left:10%;margin-right:10%;">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">STAFF MEMBER</h6>
                <h1 class="display-4">FIll in the credentials of the new student</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-9 py-5">
            <div class="bg-white p-5 my-5">
                <h1 class="text-center mb-4">TYPE IN THE CREDENTIALS FOR THE NEW STUDENT!</h1>
                <form asp-action="RegisterAStudent">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="FirstName" type="text" class="form-control bg-light border-0" placeholder="First Name" style="padding: 30px 20px;">
                                <span asp-validation-for="FirstName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="SurName" type="text" class="form-control bg-light border-0" placeholder="Last Name" style="padding: 30px 20px;">
                                <span asp-validation-for="SurName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control bg-light border-0" placeholder="Email" style="padding: 30px 20px;">
                                <span asp-validation-for="Email" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="PhoneNumber" type="number" class="form-control bg-light border-0" placeholder="Phone Number" style="padding: 30px 20px;">
                                <span asp-validation-for="PhoneNumber" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="Address" type="text" class="form-control bg-light border-0" placeholder="Address" style="padding: 30px 20px;">
                                <span asp-validation-for="Address" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 60px;" value="RegisterAStudent">Register The Student </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
