@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model ResetPasswordVM
@{
    ViewData["Title"] = "Şifre Sıfırlama";
}
@section Title {
    Şifre Sıfırlama
}
<div class="container-fluid px-0 py-5" style="width:1200px;margin-left:10%;margin-right:10%;">
   
    <div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-9 py-5">
            <div class="bg-white p-5 my-5">
                <h1 class="text-center mb-4">Yeni şifre belirleyiniz!</h1>
                <form asp-action="ResetPassword">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control bg-light border-0" placeholder="Email" >
                                <span asp-validation-for="Email" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="Password" type="password" class="form-control bg-light border-0" placeholder="Password" >
                                <span asp-validation-for="Password" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control bg-light border-0" placeholder="ConfirmPassword" >
                                <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input asp-for="Code"  value=@Model.Code type="hidden" class="form-control bg-light border-0" placeholder="Code" >
                                <span asp-validation-for="Code" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                            <button class="btn btn-primary btn-block" type="submit"  value="ResetPassword">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>