@model IEnumerable<PAYMENTPLAN>
@{
    ViewData["Title"] = "All Payments";
}
<table class="table " style="width:1500px;margin-left:10%;margin-right:10%;"
    <thead>
        <tr>
            <th scope="col">DEBT</th>
            <th scope="col">Amount</th>
            <th scope="col">Overdue Amount</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Payment Date</th>
            <th scope="col">PaymentPlans</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td ></td>
            </tr>
        }
    </tbody>
</table>