@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model PreviewRequestVM
@{
    ViewData["Title"] = "Preview Request";
}


@section Title {
    Preview Request
}

    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Details about your request</h1>
            <h1 class="text-white display-1 mb-5">You will pay in full: @Model.ToBePaidFull</h1>
            <h1 class="text-white display-1 mb-5">You will pay in installment: @Model.ToBePaidInstallment</h1>
            <h1 class="text-white display-1 mb-5">You will pay each month in installment: @Model.ToBePaidEachMonth</h1>
            <form asp-action="CreateRequest">
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>to be paid fully</label>
                            <input asp-for="ToBePaidFull" type="number" value=@Model.ToBePaidFull readonly class="form-control bg-light border-0"  >
                            <span asp-validation-for="ToBePaidFull" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>To be paid in installments</label>
                            <input asp-for="ToBePaidInstallment" type="number" value=@Model.ToBePaidInstallment readonly class="form-control bg-light border-0"  >
                            <span asp-validation-for="ToBePaidInstallment" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>To be paid each month</label>
                            <input asp-for="ToBePaidEachMonth" type="number" value=@Model.ToBePaidEachMonth readonly class="form-control bg-light border-0" >
                            <span asp-validation-for="ToBePaidEachMonth" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Number of months for installments</label>
                            <input asp-for="NumOfMonths" type="number" value=@Model.NumOfMonths readonly class="form-control bg-light border-0" placeholder="Enter Start Date" style="padding: 30px 20px;">
                            <span asp-validation-for="NumOfMonths" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>I accept the terms above</label>
                            <input asp-for="Accept" type="checkbox" class="form-control bg-light border-0"  >
                        </div>
                    </div>
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit" value="CreateReques" style="height: 60px;">Create Request</button>
                        </div>
                    </div>
                </div>
            </form>

    </div>
</div>