@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model CreateRequestVM;
@{
    ViewData["Title"] = "Create Request";
}
@section Title {
    Login
}

    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">This specific view is only viewed by admins</h6>
                    <h1 class="display-4">Create Request</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                    <h1 class="text-center mb-4">Fill in data about your request</h1>
                    <form asp-action="CreateRequest">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>To be paid in Full</label>
                                    <input asp-for="ToBePaidFull" type="number" class="form-control bg-light border-0" placeholder="To Be Paid Full">
                                    <span asp-validation-for="ToBePaidFull" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>To be Paid in installments</label>
                                    <input asp-for="ToBePaidInstallment" type="number" class="form-control bg-light border-0" placeholder="To Be Paid Installment">
                                    <span asp-validation-for="ToBePaidInstallment" style="color:red"></span>
                                </div>
                            </div>                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Number Of Months</label>
                                    <input asp-for="NumOfMonths" type="number" class="form-control bg-light border-0" placeholder="Number Of Months">
                                    <span asp-validation-for="NumOfMonths" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Interest Rate</label>
                                    <input asp-for="InterestRate" type="number" class="form-control bg-light border-0" placeholder="Interest Rate">
                                    <span asp-validation-for="InterestRate" style="color:red"></span>
                                </div>
                            </div>                   
                        </div>
                        <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 60px;" value="CreateRequest">Create Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>