@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model PreviewRequestVM
@{
    ViewData["Title"] = "Preview Request";
}


@section Title {
    Preview Request
}

    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Details about your request</h1>
            <h1 class="text-white display-1 mb-5">You will pay in full: @Model.ToBePaidFull</h1>
            <h1 class="text-white display-1 mb-5">You will pay in installment: @Model.ToBePaidInstallment</h1>
            <h1 class="text-white display-1 mb-5">You will pay each month in installment: @Model.ToBePaidEachMonth</h1>
            <form asp-action="CreateRequest">
                <label>I accept the terms above</label>
                <input asp-for="Accept" type="checkbox" class="form-control bg-light border-0"  >
                <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                    <button class="btn btn-primary btn-block" type="submit" value="CreateReques" style="height: 60px;">Create Request</button>
                </div>
            </form>

    </div>
</div>