@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Index";
}


@section Title {
    Home
}

    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">@Model.ErrorMessage</h1>
    </div>
</div>