@using Debt_Calculation_And_Repayment_System.Data.Static
@model List<STUDENTSTATUSTYPE>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Durum Tanımları
}
    @section Name1{
    Hakkında
}
    @section Name2{
    Durum Tanımları
}



<table class="table" >
    <thead>
        <tr>
            <th scope="col">Durum</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

                <tr>
                    <td>@item.Type</td>
                @if (item.Type != "Giriş Yapıldı" && item.Type != "Muhasebede" && item.Type != "Yeni Kayıt" && item.Type != "Bildirim Gönderildi" && item.Type != "Borcu Girildi" && item.Type != "Talep Aşamasında" && item.Type != "Tamamlandı")
                {
                    <td><a asp-controller="Status" asp-action="DeleteStatus" asp-route-id="@item.Id" class="btn btn-secondary py-2 px-4 d-none d-lg-block">Sil</a></td>
                }
                else
                {
                    <td>Silinemez</td>
                }
                </tr>
            
        }
    
    </tbody>
</table>
