@using Debt_Calculation_And_Repayment_System.Data.Static
@model List<STUDENTSTATUSTYPE>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Statuses
}
    @section Name1{
    Information about
}
    @section Name2{
    Statuses
}



<table class="table" >
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

                <tr>
                    <td>@item.Type</td>
                @if (item.Type != "Logged in" && item.Type != "In Accounting" && item.Type !="New Recorded" && item.Type!="Notified" && item.Type!="Waiting" )
                {
                    <td><a asp-controller="Status" asp-action="DeleteStatus" asp-route-id="@item.Id" class="btn btn-secondary py-2 px-4 d-none d-lg-block">Delete Status</a></td>
                }
                else
                {
                    <td>This cannot be deleted</td>
                }
                </tr>
            
        }
    
    </tbody>
</table>
