@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model CreateStatusVM
@{
    ViewData["Title"] = "Create Status";
}
@section Title {
    Durum Tipi Ekle
}
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Bu alan görevliler içidir</h6>
                    <h1 class="display-4">Durum Tipi Ekle</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-image mx-5 mb-5">
            <div class="col-lg-12 py-5">
                <div class="bg-white p-5 my-5">
                    
                    <form asp-action="CreateStatus">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Durum Tipi</label>
                                <input asp-for="Type" type="text" class="form-control bg-light border-0" placeholder="Durum Tipi Giriniz">
                                <span asp-validation-for="Type" style="color:red"></span>
                            </div>
                        </div>

                    <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                        <button class="btn btn-primary btn-block" type="submit" value="CreateStatus">Durum Ekle</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
