@model STUDENT
@{
    ViewData["Title"] = "Student";
}


@section Title {
    Bursiyer
}

    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Bursiyer Profil</h1>
            <h1 class="text-white display-1 mb-5">@Model.Email</h1>
        <h2 class="text-white display-1 mb-5">@Model.FirstName @Model.SurName</h2>
        <a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@Model.Id class="btn btn-secondary px-3 px-lg-5">Borç Durum Detay</a>
        @if (User.IsInRole("Admin") && Model.ProgramType==null)
        {
            <a asp-controller="StaffMember" asp-action="StaffMemberByStudent" asp-route-id=@Model.Id class="btn btn-secondary px-3 px-lg-5">Borç Durum Detay</a>
        }
        </div>
    </div>