@model List<STUDENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Installment By Payment Plan
}
    @section Name1{
    tsiwtsiw
}
    @section Name2{
    niwniw
}

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>
</table>
