@model IEnumerable<DEBT>
@{
    ViewData["Title"] = "All DEBTs";
}
<table class="table " style="width:1500px;margin-left:10%;margin-right:10%;"
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Interest</th>
            <th scope="col">Number Of Days</th>
            <th scope="col">Start Date</th>
            <th scope="col">Finish Date</th>
            <th scope="col">Number Of Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td></td>
            </tr>
        }
    </tbody>
</table>