@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model CreateDebtVM
@{
    ViewData["Title"] = "Create Debt";
}
@section Title {
    Create Debt
}
<div class="container-fluid px-0 py-5" >
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Görevlilere Özel Alan</h6>
                <h1 class="display-4">Borç Kayıt</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-5 mb-5">
        <div class="col-lg-12 py-5">
            <div class="bg-white p-5 my-5">
                <h1 class="text-center mb-4">Borç Bilgilerini Giriniz</h1>
                <form asp-action="CreateDebt">
                    <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label >Bursiyer Seç</label>
                                    <select asp-for="StudentId" class="form-control bg-light border-0">
                                    @foreach (var item in Model.Students)
                                    {
                                        <option value=@item.Id>@item.UserName</option>
                                    }
                                </select>
                                <span asp-validation-for="StudentId" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tutar</label>
                                <input asp-for="Amount" type="number" class="form-control bg-light border-0" placeholder="Amount" >
                                <span asp-validation-for="Amount" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tarih</label>
                                <input asp-for="StartDate" type="text" class="form-control bg-light border-0" placeholder="Tarih" value="01-01-2010">
                                <span asp-validation-for="StartDate" style="color:red"></span>
                            </div>
                        </div>
                       @* <div class="col-sm-6">
                            <div class="form-group">
                                <label>Bitiş Tarihi</label>
                                <input asp-for="EndDate" type="text" class="form-control bg-light border-0" placeholder="Bitiş Tarihi" value="01-01-2010">
                                <span asp-validation-for="EndDate" style="color:red"></span>
                            </div>
                        </div>*@

                    </div>
                    <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                        <button class="btn btn-primary btn-block" type="submit" value="CreateDebt" >Kaydet</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    // Function to enforce dd-mm-yyyy format
    function enforceDateFormat(input) {
        var dateString = input.value;
        var regex = /^(\d{2})-(\d{2})-(\d{4})$/;
        if (!dateString.match(regex)) {
            input.setCustomValidity('Please enter a date in the dd-mm-yyyy format');
        } else {
            input.setCustomValidity('');
        }
    }

    // Attach event listeners to the input elements
    var startDateInput = document.querySelector('input[name="StartDate"]');
    startDateInput.addEventListener('input', function () {
        enforceDateFormat(this);
    });

    var endDateInput = document.querySelector('input[name="EndDate"]');
    endDateInput.addEventListener('input', function () {
        enforceDateFormat(this);
    });
</script>
}