@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@model CreateDebtVM
@{
    ViewData["Title"] = "Create Debt";
}
@section Title {
    Create Debt
}
<div class="container-fluid px-0 py-5" style="width:1200px;">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">This specific view is only viewed by staff members</h6>
                <h1 class="display-4">CREATE DEBT</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-5 mb-5">
        <div class="col-lg-12 py-5">
            <div class="bg-white p-5 my-5">
                <h1 class="text-center mb-4">Fill in information about the new debt</h1>
                <form asp-action="CreateDebt">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Intial Amount</label>
                                <input asp-for="Amount" type="number" class="form-control bg-light border-0" placeholder="Amount" style="padding: 30px 20px;">
                                <span asp-validation-for="Amount" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Interest Rate</label>
                                <input asp-for="InterestRate" type="number" step="any" class="form-control bg-light border-0" placeholder="Enter Interest Rate" style="padding: 30px 20px;">
                                <span asp-validation-for="InterestRate" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input asp-for="StartDate" type="datetime" class="form-control bg-light border-0" placeholder="Enter Start Date" style="padding: 30px 20px;">
                                <span asp-validation-for="StartDate" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="StudentId">Select a Student</label>
                                <select asp-for="StudentId" class="form-control bg-light border-0" >
                                    @foreach (var item in Model.Students)
                                    {
                                        <option value="@item.Id">@item.UserName</option>
                                    }
                                </select>
                                <span asp-validation-for="StudentId" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="width:50%;margin: 0 auto;">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Create Debt</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
