@model List<DEBT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Debts
}
    @section Name1{
    tsiwtsiw
}
    @section Name2{
    niwniw
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Start Date</th>
            <th scope="col">Registration Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Amount</td>
                <td>@item.StartDate</td>
                <td>@item.RegDate</td>
                <td><a asp-controller="Debt" asp-action="DebtRegisterById" asp-route-id=@item.DebtRegister.Id>Debt Register</a></td>
            </tr>
        }
    </tbody>
</table>