@model IEnumerable<PAYMENTPLAN>;
@{
    ViewData["Title"] = "My Payment Plans";
}
<table>
    <thead>
        <tr>Id</tr>
        <tr>PaymentId</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.PaymentId</td>
            </tr>
        }
    </tbody>
</table>