@model IEnumerable<SCOLARSHIPDEBT>;
@{
    ViewData["Title"] = "My Scolarship Debts";
}

<table class="table " style="width:1500px;margin-left:10%;margin-right:10%;"
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col"> Payments</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr class="table-primary">
            <td > 1 </td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td><a asp-controller="Debt" asp-action="PaymentsperScolarshipDebt" asp-route-id=@item.Id>ziwziw</a></td>
        </tr>
    }
    </tbody>
</table>